@model X.PagedList.IPagedList<LojaVirtual_v2.Models.Categoria>
@{
    ViewData["Title"] = "Index";
}

<h1>Categoria</h1>

<a style="margin-bottom: 2%" asp-action="Cadastrar" class="btn btn-primary">Cadastrar</a>

<br />
<br />

@if (TempData["MSG_S"] != null)
{
    <p class="alert alert-success">@Html.Raw(TempData["MSG_S"])</p>
}

@if (Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().ID)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Nome)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().CategoriaPaiId)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var categoria in Model)
                {
                    <tr>
                        <th scope="row">@categoria.ID</th>
                        <td>@categoria.Nome</td>
                        <td>
                            @{
                                /*
                                  @if (categoria.CategoriaPaiId != null)
                                {
                                <span>@categoria.CategoriaPaiId - @categoria.CategoriaPai.Nome</span>
                                }
                                else
                                {
                                <span>--</span>
                                }
                            */
                            }
                            @Html.DisplayFor(model => categoria.CategoriaPai.ID) -
                            @Html.DisplayFor(model => categoria.CategoriaPai.Nome)
                        </td>
                        <td>
                            <a asp-action="Atualizar" asp-route-id="@categoria.ID" class="btn btn-secondary">Atualizar</a>
                            <a asp-action="Excluir" asp-route-id="@categoria.ID" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina }))
}
else
{
    <span>Nenhum registro cadastrado</span>
}







